[submodule "turtlebot_simulator"]
	path = turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
[submodule "turtlebot"]
	path = turtlebot
	url = https://github.com/turtlebot/turtlebot
[submodule "turtlebot_apps"]
	path = turtlebot_apps
	url = https://github.com/turtlebot/turtlebot_apps
[submodule "kobuki_desktop"]
	path = kobuki_desktop
	url = https://github.com/yujinrobot/kobuki_desktop
